*{
    box-sizing: border-box;
    margin: 0 auto;
}

header{
    background: lightcoral;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h1{
        text-decoration: none;
    }
}


main{
    height: 100vh;
}

/* Centrar el contenedor de palabras */
div{
    border: 1px solid black;
    width: 800px;
    text-align: center;
    margin: 30px auto;
}

/* Lista horizontal sin viñetas */
ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Estilo de cada palabra */
li {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

/* Centrar la tabla */
table {
    font-family: Arial, sans-serif;
    font-size: 18px;
    border: 1px;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial;
    font-size: 18px;
}

/* Estilo de las celdas */
td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #333;
    padding: 0;
}

table:nth-last-of-type(2){
    background: lightpink;
}

footer{
    width: 100%;
    height: 11vh;
    background: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

/* Estilos para la barra sin conexión */

#offline-bar {
    background: red;
    color: white;
    width: 100%;
    padding: 7px;
    margin: 0;
    font-weight: bold;
}

td.seleccionada {
    background-color: yellow;
}

/* Estilos del boton de inicio */

#botonInicio{
    width: 100px;
    height:30px;
    background-color: blue;
    color: white;

}

.correcta {
    background-color: lightgreen !important;
    font-weight: bold;
}

.incorrecta{
    background-color: yellow; /* empieza amarillo */
    transition: background-color 0.5s;
}

.incorrecta-roja {
    background-color: red; /* luego rojo */
}

li {
    transition: opacity 0.5s;
}

li.desaparecer {
    opacity: 0;
}